*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.camera-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
}

.camera-capture,
.camera-stop {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 20px;
  z-index: 2;
  border-radius: 50%;
  border: 0;
}

.camera-capture {
  left: calc(50% - 30px);
  background: red;
}

.camera-stop {
  background: #000;
  right: 20px;
  transform: scale(0.7);
}
