*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, 'Open Sans';
}

body {
  padding-top: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 64px;
  background: #588fca;
  width: 100%;
  color: #fff;
  text-align: center;
}

.page {
  padding: 20px;
}

.camera-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
}

.camera-capture,
.camera-stop {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 20px;
  z-index: 2;
  border-radius: 50%;
  border: 0;
}

.camera-capture {
  left: calc(50% - 30px);
  background: red;
}

.camera-stop {
  background: #000;
  right: 20px;
  transform: scale(0.7);
}

.alert {
  padding: 10px;
  color: #fff;
  border-radius: 5px;

  &--info {
    background: #588fca;
  }

  &--warning {
    background-color: #fdaa2b;
  }

  &--error {
    background-color: #fe7e64;
  }

  &--success {
    background-color: #a9d145;
  }
}

.form-row {
  &--half {
    width: 45%;
    display: inline-block;
  }

  label {
    font-size: 12px;
    font-weight: bold;
    color: #588fca;
    display: block;
    line-height: 1;
  }

  input,
  select {
    border: none;
    border-bottom: 2px solid #d9d9d9;
    color: #130e12;
    font-size: 16px;
    padding: 0.7em 0;
    margin-bottom: 1.4em;
    width: 100%;

    &:focus {
      border-bottom-color: #d9d9d9;
    }
  }
}
