.camera-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
}

.camera-capture {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 20px;
  left: calc(50% - 30px);
  border-radius: 50%;
  background: red;
  z-index: 2;
}
